{% extends "blog/base.html" %}
{% block content %}
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>

<div class="img">
	  <a target="_blank" href="mygroup.jpg">
	   	<img src='/static/img/mygroup.jpg' alt="rony" width="300" height="200">
	  </a>
	  <div class="desc">Awesome girls at django girls harare</div>
</div>

<div class="img">
  <a target="_blank" href="django.jpg">
    <img src='/static/img/django.jpg' width="300" height="200">
  </a>
  <div class="desc">Django girls coaches</div>
</div>

<div class="img">
  <a target="_blank" href="food.jpg">
    <img src='/static/img/food.jpg' alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Time to eat#Django girls harare</div>
</div>

<div class="img">
  <a target="_blank" href="dgh.jpg">
    <img src='/static/img/dgh.jpg' alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Itz never too late to start coding#awesome</div>
</div>

<div class="img">
  <a target="_blank" href="dgg.jpg">
    <img src='/static/img/dgg.jpg' alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Itz never too late to start coding#awesome</div>
</div>

<div class="img">
  <a target="_blank" href="dj.jpg">
    <img src='/static/img/dj.jpg' alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Itz never too late to start coding#awesome</div>
</div>

<div class="img">
  <a target="_blank" href="dg.jpg">
    <img src='/static/img/dg.jpg' alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Itz never too late to start coding#awesome</div>
</div>
{% endblock %}
